.input-range {
	user-select: none;
}

.input-range__track--active {
	background-color: red !important;
}

.input-range__slider {
	background-color: red !important;
	border-color: red !important;
	user-select: none;
}
